.clear:after {
    content: "";
    display: table;
    clear: both;
}
body {
	background-color: #f5f5f5;
	font-size: 1.4em;
}
a {
	color: #36d7b7;
	text-decoration: none;
}


form {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
textarea {
	width: 100%;
	resize: none;
	overflow: hidden;
	font-size: 1.2em;
	padding: 0;
	border: 1px solid #36d7b7;
	background: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}
textarea:focus {
	outline: none !important;
}
.button-group {
	width: 100%;
}
.input-file {
	width: 100%;
	margin-top: 1%;
}
.input-subject {
	width: 100%;
	margin-bottom: 1%;
	font-size: 1.2em;
	padding: 0;
	border: 1px solid #36d7b7;
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.input-subject:focus {
	outline: none !important;
}
.submit-button {
	width: 100%;
	outline: none !important;
	box-shadow: none;
	color: #36d7b7;
	text-decoration: none;
	background: none;
    border: 1px solid #36d7b7;
    cursor: pointer;
    height: 2em;
    text-align: center;
    margin: 1% 0 0 0;
    font-size: larger;
}


.post {
	position: relative;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	background: none;
	border: 1px solid #36d7b7;
	padding: 1% 2% 1% 2%;

}
.comments>.post {
	margin-bottom: 0;
	border: 1px solid #36d7b7;
	border-width: 1px 1px 0 1px;
}
.comments .post:first-child {
	border: 1px solid #36d7b7;
	border-width: 1px 1px 0 1px;
}
.comments .post:last-child {
	border: 1px solid #36d7b7;
	border-width: 1px 1px 1px 1px;
}
.image {
	width: 100%;

}
.paragraph {
	margin: 0;
	text-align: justify;
	line-height: 1.3;
	word-spacing: 2px;
}
.header {
	margin: 1% 0 1% 0;
	color: gray;
	font-weight: normal;
}
.post-id {
	float: right;
}
.footer {
	margin: 0;
	padding: 0;
}
.counter {

	color: gray;
}
.icon {
	position: absolute;
	bottom: 1%;
	right: 2%;
	font-size: 2em;
	margin-top: 5%;
}

.file-input-wrapper {
    width: 100%;
    float: left;
    height: 2.4em;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
    margin-top: 1%;
}
.file-input-wrapper > input[type="file"] {
    font-size: larger;
    width: 100%;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 100%;
    height: 2em;
    font-size: larger;
    outline: none !important;
	box-shadow: none;
	color: #36d7b7;
	text-decoration: none;
	background: none;
    border: 1px solid #36d7b7;
    cursor: pointer;
    text-align: center;
}


@media only screen and (min-width: 40.063em) {
	.post {
		padding-bottom: 1%;
	}
	.image {
		width: 40%;
		float: left;
		margin-right: 2%;
	}
	.submit-button {
		width: 49%;
		float: right;
	}
	.file-input-wrapper {
    	width: 49%;
	}

	.input-file {
		width: 49%;
		float: left;
	}
	.header {
		margin-top: 0;
	}
}


@media only screen and (min-width: 64.063em) {
	.post {
		width: 900px;
		padding-bottom: 1%;
	}
	.image {
		width: 30%;
	}
	.icon {
		font-size: 1em;
	}
	form {
		width: 500px;
	}
	.input-file {
		width: 49%;
		float: left;
	}
	.submit-button {
		width: 49%;
		float: right;
		font-size: 1em;
		height: 2em;
	}
	.header {
		font-size: smaller;
		margin-top: 0;
	}
	textarea {
		font-size: 1em;
	}
	.input-subject {
		font-size: 1em;
	}
	.file-input-wrapper {
		height: 2em;
	}
	.file-input-wrapper > input[type="file"] {
		height: 100%;
	}
	.file-input-wrapper > .btn-file-input {
		height: 100%;
		font-size: 1em;
	}
}

