<!DOCTYPE html>
<html>
<head>
	<title>VeeamChan</title>
	<link rel="shortcut icon" href="static/favicon.png" type="image/png">
	<meta charset="utf-8" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="static/ministyle.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<center><b>Вимач — сила. Двач — могила </b></center>
</br>
<a href="../">На главную</a>
</br>
<a onclick="window.scrollTo(0,document.body.scrollHeight);return false;" href="#">Вниз</a>
</br>
<form action="/{{data["original_post"]["post_id"]}}" method="post" enctype="multipart/form-data" id="form">
	<input type="text" name="subject" placeholder="sage" class="input-subject"/>
	<textarea type="text" rows="6" name="body" id="body" maxlength="1000" required></textarea>
	<div class="button-group clear">
		<div class="file-input-wrapper">
			<button class="btn-file-input">Image</button>
			<input type="file" name="file" />
		</div>
		<button type="submit" class="submit-button">Reply</button>
	</div>
</form>
<br>

<article class="post clear" id="{{data["original_post"]["post_id"]}}">
	<a href="/image/{{data["original_post"]["image_id"]}}" target="_blank"><img src="/thumb/{{data["original_post"]["image_id"]}}" class="image"></a>
	<h3 class="header">#{{data["original_post"]["post_id"]}}: {{data["original_post"]["subject"]}}
	<span class="post-id"><a href="" name="{{data["original_post"]["post_id"]}}" data-text="&gt;&gt;{{data["original_post"]["post_id"]}}"><i class="fa fa-share"><span class="counter"></span></i></a></span></h3>
	<p class="paragraph">{{data["original_post"]["body"]}}</p>
</article>

<div class="comments">
{% if "reply_list" in data: %}
{% for reply in data["reply_list"]: %}
<article class="post clear" id="{{reply["post_id"]}}">
{% if "image_id" in reply: %}
<a href="/image/{{reply["image_id"]}}"><img src="/thumb/{{reply["image_id"]}}" class="image"></a>
{% endif %}
<h3 class="header">#{{reply["post_id"]}}
	<span class="post-id"><a href="" name="{{reply["post_id"]}}" data-text="&gt;&gt;{{reply["post_id"]}}"><i class="fa fa-share"><span class="counter"></span></i></a></span></h3>
	<p class="paragraph">
	{% for string in reply["body"].split("\n"): %}
	{% for word in string.split(" "): %}
	{% if word.startswith(">>") and word[2:].isdigit:%}
	<a href="/{{data["original_post"]["post_id"]}}#{{word[2:]}}">&gt;&gt;{{word[2:]}} </a>
	{% else: %}
	{{word + " "}}
	{% endif %}
	{% endfor %}
	<br>
	{% endfor %}
	</p>
</article>
{% endfor %}
{% endif %}
</div>

  <script>$("a[data-text]").click(function(){
  var value = $("#body").val();
   $("#body").val(value+$(this).attr("data-text"));
   var url = location.href;               
   location.href = "#body";
   history.replaceState(null,null,url);
   return false;
})</script>
<a onclick="window.scrollTo(0,document.body.scrolltop);return false;" href="#">Вверх</a>
</br>
<a name="footer" href="../">На главную</a>
</body>
</html>
